body{
    background-image: linear-gradient(to right,#FFA9F9 ,  #FFF7AD); 


}


#page1{
    display: flex;
    height: 100vh;
    /* background-image: url(./Assets/cloud.png); */
 
    
}




#circle1{
    
    background-image: linear-gradient(to right,#CDFFD8, #94B9FF); 
    height: 1000px;
    width: 1000px;
    border-radius: 50%;
    margin: 0px;
    margin-left:270px ;
    margin-top:-150px ;
    z-index: 2;
}


#tiport{
    text-align: center;
    margin: 0px;
    margin-left: 230px;
    font-size: 180px;
    
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 30px;
    color:#FFBF00;
    opacity: 0.3;
    z-index: -0;
  
     
}

#img{
   position: relative;
    border-radius: 50%;
    height: 200px;
    
    margin:0px;
    margin-left: 410px;
    margin-top: 20px;

 

}



#tiimg{
    font-family: 'Rosario', sans-serif;
    letter-spacing: 5px;
    margin-left: 130px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size:60px
}

#subin{
    font-family: 'Rosario', sans-serif;
    letter-spacing: 2px;
    font-size:30px;
    margin-left: 130px;
    line-height: 50px;

}



@media only screen and (max-width: 600px){
    #page1{
      width:600px;
   
      
    }

   #tiport{
        margin: 0px;
        font-size: 40px;
        text-align: center;
        font-family: 'Alfa Slab One', cursive;
        letter-spacing: 10px;
        color:#FFBF00;
        opacity: 0.3;
        margin-left:40px;
         
    }

        #circle1{
      
        background-image: linear-gradient(to right,#FFF7AD , #FFA9F9); 
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin: 0px;
        margin-left:20px;
        
      
    }


       #img{
        position: relative;
         border-radius: 50%;
         height: 90px;
         
         margin:0px;
         margin-left: 100px;
         margin-top: 20px;
     }



        #tiimg{
        font-family: 'Rosario', sans-serif;
        letter-spacing: 5px;
        margin-left: 30px;
        margin-top: 15px;
        margin-bottom: 20px;
        font-size:20px
    }

    #subin{
        font-family: 'Rosario', sans-serif;
        letter-spacing: 2px;
        font-size:12px;
        margin-left: 30px;
        line-height: 15px;
      
    
    }
    
}











#page2{
    height: 100vh;
    width:100%;
}

#page2grid{
    display: grid;
    grid-template-columns: repeat(3,500px);
    grid-template-rows: 300px;
    font-size: 30px;

    margin-left: 180px;
    line-height: 50px;
    letter-spacing: 2px;
}




.heading{
font-family: 'Josefin Sans', sans-serif;
opacity:0.8;
margin-top: 350px;

}




.sheading{
    font-family: 'Josefin Sans', sans-serif;
    opacity: 0.7;
    
    
}

@media only screen and (max-width: 600px){

    #page2{
       
        width:600px;
       
    }
    
    #page2grid{
        display: block;
        
        font-size: 15px;
    
        margin-left: 50px;
        line-height: 25px;
        letter-spacing: 2px;

        
          
    }
    
    
    
    
    .heading{
    font-family: 'Josefin Sans', sans-serif;
    opacity:0.8;
    margin:0px;

    
    }
    
    
    
    
    .sheading{
        font-family: 'Josefin Sans', sans-serif;
        opacity: 0.7;
        margin-top: 0px;
        
        
    }
    



}













#page3{
    height: 100vh;
 
    
}

#page3ti{
    position: relative;
    color: #004AAD;
    font-family: 'Radio Canada', sans-serif;
    opacity: 0.5;
    font-size:52px;

    margin-left: 180px;

}


#grid-container{
display: grid;
grid-template-columns: repeat(3,500px);

margin-left: 180px;

}

.proname{
color: #5E17EB;
opacity: 0.5;
}


.proimg{
height: 500px;
border-radius: 5%;


}



@media only screen and (max-width:600px){
    #page3{
      display: block;
     width:600px;
        
    }
    
    #page3ti{
        position: relative;
        color: #004AAD;
        font-family: 'Radio Canada', sans-serif;
        opacity: 0.5;
        font-size:40px;
    
        margin-left: 50px;
    
    }
    
    
    #grid-container{
    display: grid;
    grid-template-columns: repeat(1,500px);
    grid-template-rows: repeat(3,500px);
    
    margin-left: 50px;
    
    }
    
    .proname{
    color: #5E17EB;
    opacity: 0.5;
    font-size: 20px;
    }
    
    
    .proimg{
    height: 450px;
    border-radius: 5%;
    
    
    }
    
}



























#page4{
    height: 100vh;

}


.hpage45{
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    margin-left: 180px;
    opacity:0.7;
}

#grid-container2{
    display: grid;
    grid-template-columns: repeat(2,600px);
    font-family: 'Josefin Sans', sans-serif;
    font-size:25px ;
    line-height: 50px;
    letter-spacing: 3px;
    word-spacing: 10px;
    margin-left: 180px;
    margin-top: 100px;
    column-gap: 60px;
    text-align: justify;
    opacity: 0.6;

}











#page5{
    height: 100vh;
    
}
#contact{

    display: grid;
    grid-template-columns: repeat(2,600px);
    font-family: 'Josefin Sans', sans-serif;
    font-size:25px ;
    line-height: 50px;
    letter-spacing: 3px;
    word-spacing: 10px;
    margin-left: 180px;
    margin-top: 300px;
    column-gap: 60px;
    text-align: justify;
    opacity: 0.6;


}

@media only screen and (max-width:600px){


    
#page4{
    display: block;
    margin-top:1200px ;
   width:600px;

}


.hpage45{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    margin-left: 50px;
    opacity:0.7;
}

#grid-container2{
    display: grid;
    grid-template-columns: repeat(1,500px);
    grid-template-rows: repeat(2,400px);
    font-family: 'Josefin Sans', sans-serif;
    font-size:15px ;
    line-height: 25px;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-left: 50px;
    margin-top: 100px;
    column-gap: 6px;
    text-align: justify;
    opacity: 0.6;

}











#page5{
width:600px;
margin-top: 500px;
}
#contact{

    display: grid;
    grid-template-columns: repeat(1,600px);
    grid-template-rows: repeat(2,100px);
    font-family: 'Josefin Sans', sans-serif;
    font-size:15px ;
    line-height: px;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-left: 50px;
    margin-top: 00px;
    column-gap: 6px;
    text-align: justify;
    opacity: 0.6;


}

footer{
    width:300px
}
}